.current__container
  width 100%
  height 100%
  text-align center
  display flex

  .content-container
    text-align center
    margin auto
    width 100%

  .temp-container
    width 100%
    margin auto
    display flex

  .temperature
    font: normal normal 400 12vmin "Raleway", sans-serif
    margin auto

  .icon
    font: normal normal 400 8vmin "Raleway", sans-serif
    margin auto
    font-size 8vmin

  .summary
    line-height normal
    text-align center
    margin-top 1vmin

