.current__container
  width 100%
  height 100%
  .temperature
    position absolute
    transform translateY(-50%) translateX(-25%)
    top: 50%
    left: 15%
    font: normal normal 400 12vmin "Raleway", sans-serif

  .icon
    position absolute
    transform translateY(-50%) translateX(25%)
    top 50%
    right 15%
    font normal normal 400 1.6vmin / 3vmin
    p
      font-size 8vmin

  .summary
    position absolute
    transform translateX(50%)
    top: 75%
    right: 50%
    width 100%
    line-height normal
    text-align center

